:root {
  --main-background-color: #ba7272;
  --secondary-color: #ebfaef;
  --input-field-color: #faf8f8;
  --card-color: #fbebeb;
  --stand-out-color: #7a2c2c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--secondary-color);
  font-family: "Nunito Sans", sans-serif;
}
.container {
  width: 90%;
  margin: 20px auto;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
}
.select-page-container {
  display: flex;
  gap: 1em;
  padding: 1em;
  border-bottom: 1px solid black;
}
.form-page,
.view-page {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: black;
  font-size: 1.25rem;
  border-bottom: 1px solid black;
}
.selected {
  color: orange;
  border-color: orange;
}
.form-page:hover,
.view-page:hover {
  opacity: 0.5;
}
.header-container {
  padding: 1rem 2rem;
}
.header-title {
  font-size: 3.5rem;
  text-align: center;
}
.form-info-container {
  border-radius: 15px;
  padding: 1.5em;
  background-color: var(--main-background-color);
}
.form-info-title {
  font-size: 1.3rem;
}
.form-info-section {
  text-align: center;
}
.input-field {
  border: none;
  border-radius: 12px;
  width: 100%;
  height: 30px;
  outline: none;
  text-indent: 10px;
  background-color: var(--input-field-color);
  font-size: 1.2rem;
}
.input-field:focus {
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.input-field-labels {
  display: block;
  text-align: left;
  margin-top: 10px;
}
.more-section-container {
  border-radius: 12px;
  background-color: var(--main-background-color);
}
.section-title {
  text-align: center;
  width: 100%;
  padding: 1em 2em;
}
.section-add-btn {
  color: white;
  width: 100%;
  padding: 1em 2em;
  border: none;
  font-size: 1rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: background-color 0.3s;
  background-color: var(--stand-out-color);
}
.submit-btn-container {
  margin: 0 auto 10px;
  width: 200px;
}
.submit-btn {
  text-align: center;
  width: 100%;
  padding: 1em;
  font-size: 1.3rem;
  color: white;
  border: none;
  border-radius: 12px;
  background-color: var(--stand-out-color);
}
.submit-btn:hover,
.section-add-btn:hover {
  background-color: #854967;
}
.submit-btn:active,
.section-add-btn:active,
.delete-section-btn:active {
  transform: translateY(1px);
}
#responsibilities {
  width: 100%;
  min-height: 100px;
}
.form-card {
  border-radius: 15px;
  padding: 1.5em;
  background-color: var(--card-color);
}
.delete-section-btn {
  color: white;
  margin-top: 5px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background-color: rgb(218, 82, 82);
}
.delete-section-btn:hover {
  background-color: rgb(204, 22, 22);
}
