* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header-container {
  background-color: #fbebeb;
  border-radius: 20px;
  width: 90%;
  margin: 10px auto;
  padding: 1rem 2rem;
}
.header-title {
  width: 90%;
  font-size: 3.5rem;
  margin: 10px auto;
  text-align: center;
}
.input-field {
  border-radius: 10px;
}
